.menu {
  &__icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-color);
  }

  &__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); // Optional overlay background
    z-index: 1; // Ensure it is on top of other elements
  }

  &__list {
    position: absolute;
    transform: translate(-115%, -22%);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 2; // Ensure it appears above the background

    @media (max-width: 768px) {
      transform: translate(-70%, 0);
    }
  }

  &__item {
    padding: 10px 15px;
    cursor: pointer;
    color: var(--text-color);
    white-space: nowrap;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1); // Light hover effect
    }

    &--delete {
      color: red; // Style for delete item
    }
  }
}
