// Modal.scss
@import "../../index.scss";

.modal__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; // Ensure it covers the entire screen
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content; // Set to auto width
  max-width: 500px; // Max width to prevent overflow
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 200; // Ensure it sits above the background

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
  }

  &__body {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
