.table-container {
  width: 100%; // Full width for the container
  overflow-x: auto; // Allow horizontal scroll if needed
}

.table {
  width: 100%; // Full width for the table
  border-collapse: collapse; // Merge borders
}

.table__header {
  background-color: var(--primary-color); // Header background color
}

.table__header-row {
  height: 50px; // Adjust header height as needed;
}

.table__header-cell {
  padding: 10px; // Padding for header cells
  text-align: left; // Align text to the left
  border-bottom: 2px solid var(--text-color); // Bottom border for header
}

.table__body {
  background-color: var(--background-color); // Background color for body
}

.table__body-row {
  height: 40px; // Row height for body
  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05); // Light grey for alternate rows
  }
}

.table__body-cell {
  padding: 10px; // Padding for body cells
  border-bottom: 1px solid var(--text-color); // Bottom border for body cells
}

.table__body-row:hover {
  background-color: rgba(0, 0, 0, 0.1); // Hover effect
}
