.table-container {
  overflow-x: auto; // Allow horizontal scrolling on small screens
}

.table {
  width: 100%;
  border-collapse: collapse; // Collapse borders

  &__header-row,
  &__body-row {
    background-color: transparent; // Transparent background for rows
  }

  &__header-cell,
  &__body-cell {
    padding: 10px;
    border: 1px solid var(--primary-color); // Border for each cell
    text-align: left;
    color: var(--text-color); // Ensure text color is readable

    // Responsive styles
    @media (max-width: 600px) {
      font-size: 14px; // Adjust font size for smaller screens
    }
  }

  &__header-cell {
    background-color: var(--dark-primary-color); // Darker color for header
    color: var(--dark-text-color); // Light text color for header
  }

  &__action-icon {
    cursor: pointer; // Show pointer on hover
    color: var(--text-color); // Use text color for icon

    &:hover {
      color: var(--primary-color); // Change color on hover
    }
  }
}
