.footer {
  background-color: var(--background-color);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  &__content {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--text-color);
    gap: 1.5rem;
    padding: 30px;
  }

  &__link {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px;

    &:hover {
      text-decoration: underline;
      text-decoration: none;
      color: var(--primary-color);
      background-color: var(--text-color);
      border-radius: 10%;
      font-weight: 700;
    }
  }
}
