.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__Info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__icon {
      width: 50px; // Adjust size as needed
      height: 50px; // Ensure the icon has a consistent height
      background-color: black;
      object-fit: contain; // Ensures the SVG scales properly without distortion
    }

    &__box {
      padding: 10px 15px;
      background-color: var(--background-color);
      border: 1px solid var(--text-color);
      border-radius: 5px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}

/* Dark theme */
.dark-theme .header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme .header__Options__box {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack items vertically */
    padding: 15px;

    &__Info {
      margin-top: 10px;
      justify-content: space-around; /* Space elements evenly */
      width: 100%; /* Full width for mobile */
    }
  }
}
