/* Import the global styles from index.scss */
@import "../../../index.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__Options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__box {
      padding: 10px 15px;
      background-color: var(--background-color);
      border: 1px solid var(--text-color);
      border-radius: 5px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }
  }
}

/* Dark theme */
.dark-theme .header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme .header__Options__box {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack items vertically */
    padding: 15px;

    &__Options {
      margin-top: 10px;
      justify-content: space-around; /* Space elements evenly */
      width: 100%; /* Full width for mobile */
    }
  }
}
