@import '../../../index.scss'; // Import global styles for the theme

.navbar {
  background-color: var(--background-color);
  padding: 10px;
  border-top: 1px solid black;
  border-radius: 8px;
  max-width: 100%; /* Ensure the navbar fits within the screen */
  box-sizing: border-box; /* Include padding in width calculation */

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center items horizontally */
  }
        
  &__item {
    margin: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-color);
    font-weight: bold;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--text-color);
      color: var(--background-color);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }
}

.dark-theme .navbar {
  background-color: var(--background-color);
}

.dark-theme .navbar__link {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 8px;
    border-radius: 0%;  
  }

  .navbar__link {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .navbar__link {
    padding: 6px 10px;
    font-size: 0.75rem;
  }
}
